{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

  <div class="container py-5">
    <h3>Все авторы</h3>
    <hr>
    {% for author in all_authors %}
      <p>
        <a href="{% url 'posts:profile' author.username %}">
          {{ author.get_full_name }}
        </a>
        <br>Всего постов: {{ author.posts.count }}
        <br>Всего подписчиков: {{ author.following.count }}
        <br>Всего подписок: {{ author.follower.count }}
      </p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>  
  
{% endblock %}
