{% extends 'base.html' %}

{% block title %}
  Страница пользователя {{ author.get_full_name }}
{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Страница пользователя {{ author.get_full_name }}</h1>
  <hr>
  <div class="row">
    <aside class="col-12 col-md-3">
      <div class="container py-5">

        <h3>Всего постов: {{ author.posts.count }}</h3>
        <br>

        <h4>Мои подписчики: {{ author.following.count }}</h4>
          {% for follower in my_followers %}
            <a href="{% url 'posts:profile' follower.username %}">
              {{ follower.get_full_name }}
            </a>
            <br>
          {% endfor %}
          <br>

        <h4>Мои подписки: {{ author.follower.count }}</h4>
          {% for following in my_followings %}
            <a href="{% url 'posts:profile' following.username %}">
              {{ following.get_full_name }}
            </a>
            <br>        
          {% endfor %}
          <br>
        
        {% if user.is_authenticated %}

          <div class="mb-5">
            {% if author != request.user %}
              {% if following %}
                <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
                  Отписаться
                </a>
              {% else %}
                <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
                  Подписаться
                </a>
              {% endif %}
            {% else %}
              <a class="btn btn-lg btn-primary" href="{% url 'posts:post_create' %}">
                Новая запись
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </aside>

    <article class="col-12 col-md-9">
      <div class="container py-5">
        <h3>Мои записи</h3>
        <hr>
        {% for post in page_obj %}
          {% include 'posts/includes/post_list.html' %}
          <article>
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
              </a>
            {% endif %}
          </article>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %} 
      </div>
    </article>
  </div>
</div>
{% endblock %}
